GATEWAY_PORT=8000
BACKEND_URL=http://localhost:5001
ORDER_SERVICE_URL=http://localhost:5002
IDENTITY_SERVICE_URL=http://localhost:5003
RESTAURANT_SERVICE_URL=http://localhost:5004
NOTIFICATION_SERVICE_URL=http://localhost:5005
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173
